.header-nav {
  position: sticky;
  box-shadow: 0px 10px 20px #ccc;
  margin-bottom: 10px;
}
.header-ul {
  display: flex;
  flex: 1;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: #333;
  color: white;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: white;
  color: #111;
}
.header-h2 {
  font-family: monospace;
  font-size: 30px;
}

.logout-btn {
  padding: 5px;
  background: rgb(41, 43, 42);
  border: none;
}
.logout-btn:hover{
  background: white;
  color: #111;
}

